/* main-classes */
:root{
    --main-color-dark:#A1001F;
    --main-color:#D4002A;
    --main-color-light:#ff2c56;
    --bg-color:#E9EDF0;
    --bg-color-dark:#333333;
    --bg-color-light:#E6E6E6;
}

body::-webkit-scrollbar {
    width: 0.50rem;

}

body::-webkit-scrollbar-track {
    background-color: rgb(48, 48, 48);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);

}
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    /* font-size: 1.5rem; */
    overflow-x: hidden;
}
p{
    font-size: 0.9rem;
}
.section{
    padding-block: 2rem;
    overflow-x: hidden;
}

.section-title{
    border-left: 4px solid var(--main-color);
    padding-left: 1rem;
    margin-block: 2rem;
}

.link a{
    text-decoration: none;
    
}

.footer , .fa , .fas{
    font-size: 1.5rem;
}
.footer li{
    list-style: none;
}
.footer ul{
    padding-left:0px ;
}


/* testimonials and features */

.card.rating{
    height: max-content;
}

.section.testimonial-features{
    background-color:var(--bg-color) ;
}

.card{
    background-color: white;
    padding: 1rem;
    height: min-content;
}

.vh{
    width: 1px;
    margin-block: 10px;
    background-color: gray;
}

.hv{
    height: 1px;
    margin-inline: 10px;
    background-color: gray;
}
.rating-title h1 , .title-holder h3{
    font-weight:bolder;
}
.stars{
    text-align: center;
}
.stars .fa{
    color: rgb(255, 157, 0);
    
}
.card.rating .logo img{
    height: 2rem;
    width: inherit;
}
title{
    font-weight: bold;
}

.icon{
    width: 5rem;
    height: 5rem;
    background-color: var(--main-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 2px 1px var(--main-color-dark);
}

.features .content{
    margin-inline: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features .content .title{
    font-size: 1.1rem;
    font-weight: 600;
}
.features.grid-holder{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}
.feature-item{
    display: grid;
    grid-template-areas: "icon content content"
                         "icon content content";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    margin-block: 1rem;
}
.feature-item .icon{
    margin-block: auto;
    grid-area: icon;
}
.feature-item .content{
    grid-area: content;
}

@media (max-width:768px) {
    .icon{
        width: 7rem;
        height: 7rem;
    }
    .features.grid-holder{
        display: flex;
        flex-direction: column;
    }
}

.testimonial-features .testimonials{
    background-image: url(./images/icons/quote-right-solid.png) , url(./images/icons/quote-left-solid.png);
    background-repeat: no-repeat no-repeat;
    background-position: 5% 5%,95% 95%;
    background-size: 1.5rem;
}



/* Faqs section */
.faqs-holder .card{
    border: none;
    padding-inline: 0px;
}
.accordion .card .btn{
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 1rem 2rem;
    background-position: 95%;
    background-size: 1rem;
    background-repeat: no-repeat;
    background-image: url(./images/icons/down-arrow.png);
}

.accordion .card .btn[aria-expanded = "true"]{
    background-image: url(./images/icons/arrow-up.png);
}

.accordion .card .btn[aria-expanded = "false"]{
    background-image: url(./images/icons/down-arrow.png);
}
.accordion .card .card-header{
    padding: 0px;
    border-bottom: 2px solid var(--main-color);
    background-color: var(--bg-color);
}

.card .card-header .btn:focus{
    box-shadow: none;
}


/* footer */

.footer{
    background-color: var(--bg-color-dark);
    background-image: url(./images/footer-bg.jpg);
}

.footer li{
    list-style: none;
    color: rgb(192, 191, 191);
    cursor: pointer;
}

.footer .logo-holder{
    margin-top: 15rem;
    margin-block: 3rem;
}
.social-icons .fa-brands{
    margin-inline-end: 1rem;
    color: white;
    cursor: pointer;
    margin-block: 2rem;
}
.social-icons .fa-brands:hover{
    color: var(--main-color);
}

.footer li:hover{
    color: var(--main-color);
    text-shadow: 1px 1px 10px var(--main-color-dark);
}

.footer ul{
    padding-left: 0px;
}


/* locations */

.Locations .grid.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: .5rem;
}

.grid.wrapper a{
    display: block;
}

.grid.wrapper .grid-item {
    position: relative;
    background-blend-mode: normal;
    cursor: pointer;
    background-size: 0% , cover;
    overflow: hidden;
}

.grid.wrapper .grid-item .text-wrapper{
    position :absolute;
    padding:1rem;
    height: 100%;
    width: 100%;
    top: 75%;
    transition: top 300ms;
}

.grid.wrapper .grid-item .text-wrapper ul{
    visibility: hidden;
    transition: visibility 200ms;
}

.grid.wrapper .grid-item:hover .text-wrapper ul{
    visibility:visible;
}
.grid.wrapper .grid-item:hover .text-wrapper{
    top: 0%;
}


.grid-item:hover  h1{
    color: var(--main-color);
}

.text-wrapper li{
    padding: .5rem;
}
.text-wrapper li:hover{
    color: var(--main-color-light);
    text-shadow: 1px 1px 10px black;
}
.grid.wrapper .grid-item .text-wrapper h1{
    text-shadow: 1px 1px 10px black;
}

.grid.wrapper .grid-item .text-hover-line {
    color: white;
}

.grid.wrapper .grid-item .text-wrapper li{
    font-size: 1rem;
    list-style:url(./images/icons/placeholder.png);

}



@keyframes location-grid-item-anim {
    100%{
        margin-top: auto;
    }

    0%{
     margin-top: 0px;
    }
}

.grid.wrapper .grid-item:hover {
    box-shadow: 1px 1px 10px var(--shadow);
    background-size: cover, cover;
    
}


.grid.wrapper .grid-item:nth-child(1) {
    height: 17rem;
    background-image: linear-gradient(to bottom, transparent, black),url(./images/germany.jpg);
    grid-area: 1 / 1 / 2 / 2; 
}


.grid.wrapper .grid-item:nth-child(2) {
    background-image: linear-gradient(to bottom, transparent, black),url(./images/thailand.jpg);
    grid-area: 1 / 2 / 2 / 3;
}


.grid.wrapper .grid-item:nth-child(3) {
    background-image:linear-gradient(to bottom, transparent, black), url(./images/italy.jpg);
    grid-area: 1 / 3 / 2 / 4; 
}



.grid.wrapper .grid-item:nth-child(4) {
    background-image: linear-gradient(to bottom, transparent, black) , url(./images/new-zealand.jpg);
    grid-area: 2 / 3 / 3 / 4;
}


.grid.wrapper .grid-item:nth-child(5) {
    background-image: linear-gradient(to bottom, transparent, black) , url(./images/new-zealand.jpg);
    grid-area: 2 / 1 / 3 / 3;  
}


@media (max-width : 700px) {
    .Locations .grid.wrapper {
        display: flex;
        flex-direction: column;
    }

    .grid.wrapper .grid-item {
        height: 20rem;
    }
}

/* rental-cars */

.rental-cars{
    background-color: var(--bg-color);
}
.rental-cars .tabs .nav-link.active{
    background-color: var(--main-color);
    border-radius: 0px;
    border-left: 2px solid var(--main-color-dark);
}

.rental-cars .tabs .nav-link:not(.active){
    color: var(--main-color);
}
.about-rental-cars .highlight{
    color: var(--main-color);
}
.about-rental-cars h3{
    padding-left: 1rem;
}
.about-rental-cars h3:not(.highlight){
    margin-top:1rem ;
}
.about-rental-cars{
    background-color: white;
}

.about-rental-cars .accordion .card-body{
    font-size: 1rem;
}

.about-rental-cars .accordion .card{
    border:none;
    margin: 0px;
}

.rental-cars .badge.head{
    background: linear-gradient( 90deg , var(--main-color) , var(--main-color-light));
    border: 0px solid black;
    border-radius: 0px;
}

.rental-cars .tab-title{
    padding-block: .5rem;
    font-weight: 600;
}
.rental-cars .img img{
    width: 20rem;
    height: inherit;
}

.rental-cars .tabs{
    padding-bottom: 2rem;
}

.rental-cars .badge.features{
    padding: .75rem;
    margin: .25rem;
    color: black;
    font-weight: 300;
    font-size: 1rem;
    border: 1px solid var(--bg-color-light);
    background-color: white;
}

.rental-cars .badge.features img{
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.rental-cars .badge.features:hover{
    background-color: var(--bg-color-light);
}

@media (max-width : 450px) {
    .rental-cars .tabs .nav-link p{
        display: none;
    }

    .rental-cars .nav-upper{
        flex-direction: column !important;
    }
    .rental-cars .nav{
        flex-direction: row !important;
    }

    .rental-cars .badge.head{
        display: none;
    }
    .rental-cars .tab-title{
        text-align: center;
    }
}

/* testimonial-carousel */
.testimonials.card{
    height:fit-content;
    padding: 3rem;
    padding-bottom: 4rem;
}

.testimonials.card .carousel{
   height: fit-content;
}
.carousel-control-prev-icon , .carousel-control-next-icon{
    background: none;
}
.carousel-control-prev{
   left: -3rem;
}

.carousel-control-next{
    right: -3rem;
 }
 
.testimonials .carousel-item .title{
    font-weight: 600;
}

.testimonials .carousel-item .name{
    font-style: italic;
}
.testimonials .fa-solid{
    color: var(--main-color);
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.carousel-indicators{
    top: 95%;
}
.carousel-indicators .active{
    background-color: var(--main-color);
}

.carousel-indicators button:not(.active){
    background-color: var(--main-color-light);
}